# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# PlatformIO generated folders
.pio/
.pioenvs/
.piolibdeps/

# Local VS Code / Editor settings
.vscode/.browse.vc.db
.vscode/.cmake.api/
.vscode/.gcc-flags.json
.vscode/ipch/
hash.txt
wifi_creds.h
